.user-moments-container {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin: 5px;
  max-width: 100%;
}

#user-collection-view {
  #user-points-wrapper {
    padding: 0 20px 20px 20px;
    color: white;

    #settings-wrapper {
      justify-content: center;
    }

    #username-title {
      margin-bottom: 5px;
      text-transform: uppercase;
    }
  }
}
