#question {
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  width: 100%;

  .action {
    display: flex;
    flex-direction: column;
    padding: 20px;

    .text {
      margin-bottom: 20px;
    }

    .option {
      position: relative;
      border: 1px solid white;
      border-radius: 20px;
      margin-bottom: 20px;
      padding: 10px 0;

      &.correct-answer {
        background-color: white;
        color: black;
      }

      &.wrong-answer {
        background-color: red;
      }
    }
  }
}
